.banner {
  padding-bottom: 80px;
}
.banner-content {
  margin-top: 115px;
}
.banner-content h1 {
  font-size: 58px;
  text-transform: uppercase;
  font-weight: 900;
}
.banner-content span {
}
.banner-content p {
  font-size: 15px;
  color: rgba(62, 62, 62, 1);
}

.banner-img {
}
.banner-img img {
  margin: 0 auto;
  width: 60%;
  float: right;
  display: block;
}
.woman {
}
.woman h2 {
  color: #363958;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 70px 0;
}
.item {
  padding-top: 24px; /* padding-left: 25px; */
}

.item-img {
  width: 85%;
  margin: 0 auto;
  display: block;
  background: #f1f1f1;
  padding: 25px;
  border-radius: 10px;
}
.item h3 {
  font-size: 30px;
  margin: 20px 25px;
  color: #363958;
  text-transform: uppercase;
}
.item p {
  margin-left: 25px;
  margin-right: 15px;
}
.price {
  display: flex;
  justify-content: space-between;
}
.price h3 {
  /* margin: 0; */
}
.price a {
  margin-right: 20px;
  height: 50px;
  margin-top: 10px;
}
.btn {
  background: rgba(164, 188, 70, 1);
  color: white;
  font-size: 13px;
  padding: 12px 22px;
}
